.button{
  @apply md:w-32 md:h-32 h-16 w-16 text-white font-bold py-2 px-4 rounded text-2xl font-bold flex align-baseline justify-center;
  background: linear-gradient(
    0deg, #525252 0%, #373737 100%
  );
  border: 2px solid #392f446e;
  outline: rgb(22, 22, 22) 2px solid;
  box-shadow: #50bbd3 0px 0px 5px;
}

.button:hover{
  background-color: #555;
  border: 2px solid #7854a2;
  outline: #222 2px solid;
}

.button:focus{
  outline: none;
}

.button:active{
  @apply border-b-2;
  background-color: rgb(78, 78, 78);
  border: 2px solid #8a6ead;
}

.button-active{
  color: #f1e3e3;
}

.label{
  @apply text-sm;
  display: block;
  color: #DDD;
}

.led{
  width: 30px;
  height: 3px;
  background-color: black;
  top: 10px;
  content: "";
}

.led-active{
  background: #72f5f0;
  box-shadow: 0px 0px 10px #349beb;
}
