.slider {
  position: relative;
  @apply pt-5 pb-5 pr-8 pl-8;
}

.label {
  @apply text-sm;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #DDD;
  left: 0;
  top: -20px
}

@screen md{
  .label {
    top: -41px;
  }
}

.slider::before {
  background: linear-gradient(
    0deg, #525252 0%, #373737 100%
  );
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 -20px 20px #2e393a, 0 20px 35px #111, inset 0 5px 6px #979797, inset 0 -5px 6px #242424;
}

.slider::before, .knob {
  @apply w-12 h-12 lg:w-16 lg:h-16 xl:h-24 xl:w-24;
  position: relative;
  touch-action: none;
}

.knob::before, .knob::after, .slider::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.knob::before {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background: #72f5f0;
  box-shadow: 0px 0px 10px #349beb;
}

@screen lg {
  .knob::before {
    top: 15px;
  }
}

.knob-outer-led {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid;
  border-color: #FFF;
  border-radius: 50%;
  width: 130%;
  height: 130%;
  box-shadow: 0px 0px 10px rgba(52, 155, 235, 1), inset 0px 0px 10px rgba(52, 155, 235, 1);
}
