.container{
    @apply w-full;

}
.screen{
    @apply h-32 flex lg:text-6xl text-4xl w-full;

    --main-color: rgb(46, 189, 214);
    font-family: DotMatrix;
    color: var(--main-color);
    text-shadow: var(--main-color) 0 0 5px;
    align-items: center;
    justify-content: center;
    border: 15px solid rgb(29, 29, 32);
    background: rgb(15, 32, 58);
    box-shadow:rgba(44, 0, 202, 0.2) 0 0 10px;
}
