.button{
  @apply md:h-16 md:w-16 w-10 h-10;
  cursor: pointer;
}

.triangles{
  stroke: #000;
  stroke-width: 12px;
  filter: drop-shadow(0 0 20px rgba(132, 205, 222, 0.55));
}

.triangles:hover{
  fill: #555;
}
.triangles:active{
  fill: #444;
}
